<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="E2E Testing suite" thread-count="2" parallel="tests">
    <test name="Desktop tests">
        <parameter name="device" value="desktop"/>
        <classes>
<!--            <class name="ge.tbc.testautomation.tests.CurrencyScenario"/>-->
<!--            <class name="ge.tbc.testautomation.tests.FilterOffersScenario"/>-->
            <class name="ge.tbc.testautomation.tests.LoanCalculator"/>
        </classes>
    </test>
    <test name="Mobile tests">
        <parameter name="device" value="mobile"/>
        <classes>
<!--            <class name="ge.tbc.testautomation.tests.CurrencyScenario"/>-->
<!--            <class name="ge.tbc.testautomation.tests.FilterOffersScenario"/>-->
            <class name="ge.tbc.testautomation.tests.LoanCalculator"/>
        </classes>
    </test>
</suite>